## Fake Daten erzeugen

## Vorbereitungen
__Datenbank Type__: Oracle <br>
__Datenbank__: project_data_encrypt.demo.local <br>
__User_Name__: poc <br>
__Passwort__: Oracle--123 <br>


#### Packages
```bash
pip install faker
pip install pandas
pip install psycopg
pip install sqlalchemy
```

In [1]:
!pip install faker
!pip install pandas
!pip install psycopg
!pip install sqlalchemy
!pip install cx_Oracle

Collecting faker
  Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
     ---------------------------------------- 1.9/1.9 MB 12.2 MB/s eta 0:00:00
Collecting tzdata
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ---------------------------------------- 347.8/347.8 kB ? eta 0:00:00
Installing collected packages: tzdata, faker
Successfully installed faker-37.1.0 tzdata-2025.2

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Collecting numpy>=1.23.2
  Downloading numpy-2.2.5-cp311-cp311-win_amd64.whl (12.9 MB)
     --------------------------------------- 12.9/12.9 MB 43.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\projekte\python_data_crypt\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ------------------------------------- 509.2/509.2 kB 31.2 MB/s eta 0:00:00
Requirement already satisfied: tzdata>=2022.7 in c:\projekte\python_data_crypt\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\projekte\python_data_crypt\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting psycopg
  Downloading psycopg-3.2.6-py3-none-any.whl (199 kB)
     -------------------------------------- 199.1/199.1 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6 in c:\projekte\python_data_crypt\venv\lib\site-packages (from psycopg) (4.13.2)
Requirement already satisfied: tzdata in c:\projekte\python_data_crypt\venv\lib\site-packages (from psycopg) (2025.2)
Installing collected packages: psycopg
Successfully installed psycopg-3.2.6

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp311-cp311-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 16.8 MB/s eta 0:00:00
Collecting greenlet>=1
  Downloading greenlet-3.2.1-cp311-cp311-win_amd64.whl (295 kB)
     ------------------------------------- 295.4/295.4 kB 19.0 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\projekte\python_data_crypt\venv\lib\site-packages (from sqlalchemy) (4.13.2)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.2.1 sqlalchemy-2.0.40

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0-cp311-cp311-win_amd64.whl
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import random
from faker import Faker
from faker.providers import BaseProvider
import random

class BankProvider(BaseProvider):
    def bank_name(self):
        return random.choice([
            "Deutsche Bank", "Commerzbank", "DKB", "Sparkasse Berlin",
            "Postbank", "N26", "Volksbank", "HypoVereinsbank", "Sparkasse Nürnberg", "Raiffeinsenbank Berlin"
        ])

class DomainProvider(BaseProvider):
    def domain_name(self):
        return random.choice([
            "gmail.com", "gmx.de", "web.de", "hotmail.com", "outlook.com",
            "yahoo.com", "t-online.de", "icloud.com", "live.com", "mail.de"
        ])
    
class GenderProvider(BaseProvider):
    def gender(self):
        return random.choice([
            "männlich", "weiblich"
        ])


fake = Faker("de_DE")

fake.add_provider(BankProvider)
fake.add_provider(DomainProvider)
fake.add_provider(GenderProvider)

# Es werden vier Tabellen mit vordefinierten Datenmengen (1.000 / 10.000  / 100.000 / 1.000.000 / 10.000.000 Datensätze) generiert.
# Anzahl der Datensätze
#num_records = 100_000_000
num_records = 10

# die ID für den Index
id = 0

# Funktion zur Generierung eines Eintrags
def generate_entry():
    global id 
    id =  id + 1
    gender = fake.gender()
    if gender == "männlich":
        first_name = fake.first_name_male()
    else:
        first_name = fake.first_name_female()
    last_name = fake.last_name()
    email = f"{first_name.lower()}.{last_name.lower()}@{fake.domain_name()}"
    plz = fake.postcode()
    city = fake.city()
    street = fake.street_name()
    house_number = fake.building_number()
    phone = fake.phone_number()
    birth_date = fake.date_of_birth(minimum_age=18, maximum_age=62).isoformat()
    iban = fake.iban()
    bank_name =  fake.bank_name()
    
    return [id, gender, first_name, last_name, email, plz, city, street, house_number, phone, birth_date, iban, bank_name]

# Zum Performance-Test starten wir mit einer kleineren Teilmenge
sample_size = num_records
data = [generate_entry() for _ in range(sample_size)]

# In DataFrame umwandeln
df = pd.DataFrame(data, columns=["id", "geschlecht", "vorname", "nachname", "email", "plz", "ort", "strasse", "hausnummer", "telefonnummer", "geburtsdatum", "iban", "bank_name"])

# Speichern
file_path = f"fiktive_personenliste_{num_records}.csv"
df.to_csv(file_path, index=False)

file_path

df.head(10)

,id,geschlecht,vorname,nachname,email,plz,ort,strasse,hausnummer,telefonnummer,geburtsdatum,iban,bank_name
0,1,männlich,Danilo,Pölitz,danilo.pölitz@live.com,58468,Teterow,Jens-Peter-Ziegert-Ring,188,0506948609,1990-06-15,DE77858328385250229962,Commerzbank
1,2,weiblich,Mariana,Davids,mariana.davids@icloud.com,37209,Staßfurt,Neureutherring,56,0578496528,1978-09-08,DE95837634758386511463,Sparkasse Berlin
2,3,männlich,Ruben,Bolzmann,ruben.bolzmann@live.com,02047,Rastatt,Wirthplatz,0/6,+49(0) 068084028,1993-09-17,DE64957238542313719939,Deutsche Bank
3,4,männlich,Volkhard,Hermighausen,volkhard.hermighausen@icloud.com,24012,Luckenwalde,Pia-Schottin-Ring,2,+49(0)1077 698937,1996-03-27,DE92175605453337377037,Raiffeinsenbank Berlin
4,5,weiblich,Rosemarie,Hornig,rosemarie.hornig@gmail.com,38836,Hohenstein-Ernstthal,Speerallee,4/6,(05329) 663771,1976-05-12,DE62484461743279203401,HypoVereinsbank
5,6,weiblich,Florence,Gerlach,florence.gerlach@icloud.com,82843,Heiligenstadt,Traudel-Köster-Weg,17,+49(0)3829 86954,1978-08-18,DE11594508549042821114,Raiffeinsenbank Berlin
6,7,männlich,Vincenzo,Hornich,vincenzo.hornich@web.de,53522,Hersbruck,Ringgasse,60,06146 391220,1980-01-29,DE81747512800417656467,DKB
7,8,männlich,Rene,Jopich,rene.jopich@hotmail.com,04513,Wolfach,Emmerich-Nohlmans-Straße,815,+49(0)6101742176,1980-12-14,DE97003010607198082281,DKB
8,9,männlich,Heinz-Günther,Röhrdanz,heinz-günther.röhrdanz@gmail.com,01769,Wanzleben,Jessika-Liebelt-Weg,3/6,05032562613,1994-05-04,DE77957195116484560808,Volksbank
9,10,männlich,Leonard,Rudolph,leonard.rudolph@mail.de,66668,Wesel,Weinhageallee,7,00819 19898,1974-01-28,DE48813844373054095718,Volksbank

## Fake Daten in eine Oracle Tabelle laden

In [1]:
import pandas as pd
import psycopg as pg
from sqlalchemy import create_engine, text
from sqlalchemy.dialects.oracle import VARCHAR2
from datetime import datetime, timedelta
row_count = 1_000
row_count = 10_000
row_count = 100_000
row_count = 1_000_000
row_count = 10_000_000
row_count = 100_000_000

print(f"{datetime.now()} lade CSV für {row_count} Datensätze")
df = pd.read_csv("fiktive_personenliste_100000000.csv", nrows=row_count)
df["geburtsdatum"] = pd.to_datetime(df["geburtsdatum"], format="ISO8601")
df["plz"] = df["plz"].astype(str)
df["hausnummer"] = df["hausnummer"].astype(str)

print(f"{datetime.now()} schreibe Datensätze {row_count} in die DB")
engine = create_engine("oracle+cx_oracle://poc:Oracle--123@192.168.111.120:1521/?service_name=project_data_encrypt.demo.local", isolation_level="AUTOCOMMIT")

df.to_sql(f"fiktive_daten_rows_{row_count}", engine, if_exists="replace", index=False,  chunksize=10000, dtype={
"geschlecht": VARCHAR2(10),
"vorname": VARCHAR2(50),
"nachname": VARCHAR2(50),
"email": VARCHAR2(50),
"plz": VARCHAR2(10),
"ort": VARCHAR2(50),
"strasse": VARCHAR2(50),
"hausnummer": VARCHAR2(10),
"telefonnummer": VARCHAR2(50),
"iban": VARCHAR2(50),
"bank_name": VARCHAR2(50)
})

print(f"{datetime.now()} erzeuge den Index")
with engine.connect() as conn:
    conn.execute(text(f"create unique index idx_fiktive_daten_rows_{row_count} on fiktive_daten_rows_{row_count}(id)"))
    conn.commit()
    conn.close()

print(f"{datetime.now()} Ende")

2025-04-26 07:51:58.790657 lade CSV für 100000000 Datensätze
2025-04-26 08:00:33.014513 schreibe Datensätze 100000000 in die DB
2025-04-26 08:31:33.841428 erzeuge den Index
2025-04-26 08:33:32.214189 Ende